<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SceneBoundingBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RosToolsApplicationBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SceneBoundingBox.Properties.Settings>
            <setting name="ForceCpuFiltering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RGBImageTopic" serializeAs="String">
                <value>Phobos/left/image_rect</value>
            </setting>
            <setting name="DisparityImageTopic" serializeAs="String">
                <value>Phobos/disparity</value>
            </setting>
            <setting name="CameraInfoTopic" serializeAs="String">
                <value>Phobos/right/camera_info</value>
            </setting>
        </SceneBoundingBox.Properties.Settings>
        <RosToolsApplicationBase.Properties.Settings>
          <setting name="TopicPrefix" serializeAs="String">
            <value></value>
          </setting>
        </RosToolsApplicationBase.Properties.Settings>
    </userSettings>
</configuration>